
body{
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

select:disabled{
  color: graytext;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
}

a{
  text-transform: uppercase;
}

a:hover{
  text-decoration: none;
}

/**Float properties*/
.right{
  float: right;
}

.center{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.over{
  border-width: 4px;
}

