
body{
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

select:disabled{
  color: graytext;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
}

a{
  text-transform: uppercase;
}

a:hover{
  text-decoration: none;
}

/** MENU **/
input{
  border: none;
  border-radius: 25px;
  min-width: 400px;
  margin: 0px 20px;
  color: black;
  padding: 5px 10px;
}

ul#menu{
  margin: 0;
}

ul#menu a{
  line-height: 60px;
  display: block;
}

ul#menu, ul#menu li a{
  background-color: #0088C1;
}

ul#menu li a{
  padding: 0px 20px;
  color: white;
}

ul#menu li:nth-child(-n+4) a:hover{
  background-color: #18ADAD;
}

ul#menu li{
  color: white;
  position: relative;
}

/** Device Picker **/

ul#picker{
  margin: 10px auto;
  text-align: center;
}

ul#picker li{
  margin: 0px 5px;
  padding: 0px;
  height: 100px;
  width: 100px;
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #0088C1;
  border-radius: 15px;
} 

ul#picker li#dimmer{
  background-image: url(../images/dimmer.svg);
}

ul#picker li#switch{
  background-image: url(../images/switch.svg);
}

ul#picker li#power_outlet{
  background-image: url(../images/power_outlet.svg);
}

ul#picker li#unknown{
  background-image: url(../images/unknown.svg);
}

ul#picker li#lamp{
  background-image: url(../images/lamp.svg);
}

ul#picker li#window{
  background-image: url(../images/window.svg);
}

ul#picker li#pir{
  background-image: url(../images/pir.svg);
}

/**BLOCKS**/

.block-container{
  margin-top: 20px;
  border: 2px solid #0088C1;
  border-radius: 25px;
  padding: 10px 5px;
  text-align: center;
}

.block{
  margin: 20px auto;
  width: 60%;
  min-width: 300px;
  height: 100px;
  position: relative;
  background: #ffffff;
  border-radius: 10px;
}

.block p.block-label, .block p.block-value{
  display: inline-block;
  margin: auto 10px;
}

.block p.block-label{
  text-align: right;
}

.block p.block-value{
  text-align: left;
}

.block.instantiated{
  border-width: 1px;
  border-style: solid;
}

.block.droppable{
  border-width: 1px;
  border-style: dashed;
}

/**.block:after, .block:before {
  left: 98%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}*/

.block:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 49px;
  margin-top: -49px;
}
.block:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #0088C1;
  border-left-style: dashed;
  border-width: 50px;
  margin-top: -50px;
}

.block img{
  width: 70px;
  height: 70px;
  position: absolute;
  left: 20px;
  margin: 0px 10px;
}

/**Float properties*/
.right{
  float: right;
}

.center{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.over{
  border-width: 4px;
}

/*Decorating color*/
.event{
  border-color: #CD1F44;
}

.condition{
  border-color: #F26D22;
}

.action{
  border-color: #F2A71D;
}

/*Modal Form Decoration*/
.modal-form{
  font-family: Arial, Helvetica, sans-serif;
  top: 59px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  position: fixed;
  z-index: 99999;
}

.modal-form > div {
  width: 80%;
  height: 80%;
  margin: 5% auto 0% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  border: 2px solid #0088C1;
  background: #fff;
  text-align: center;
}

.modal-form > div button, .modal-form > div select {
  border-radius: 10px;
  border-style: solid; 
}
.modal-form > div select {
  width: 60%;
  text-align: center;
  height: 10%;
  margin: 10px 0px;
}

.modal-form > div button{
  padding: 10px 20px;
  margin: 5px 10px;
  border-radius: 10px;
}

.modal-form img{
  float: right;
  display: block;
  vertical-align: middle;
}
