/**BLOCKS**/

.block-wrapper{
  border-radius: 50px;
  border-left: 1px solid #E74c3c;
  border-right: 1px solid #F2A71D;
  margin: 0px 2%;
  width: 96%
}

.block-wrapper.prop-wrapper{
  border-left-color: #F26D22;
}

.block-container{
  margin-top: 20px;
  padding: 10px 5px;
  text-align: center;
}

.prop-wrapper .block-container.condition{
  border-left: none;
}

.block{
  margin: 20px auto;
  width: 60%;
  min-width: 270px;
  height: 100px;
  position: relative;
  background: rgba(255,255,255, 0.2);
  /*border-radius: 10px;*/
  text-align: center;
}

.block p.block-label, .block p.block-value{
  display: inline-block;
  margin: auto 10px;
}

.block p.block-label{
  text-align: right;
}

.block p.block-value{
  text-align: left;
}

.block.instantiated{
  border-width: 3px;
  border-style: solid;
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 500ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
}

.block.droppable{
  border-width: 3px;
  border-style: dashed;
  /*-webkit-box-shadow: inset 14px 14px 30px 7px rgba(50, 50, 50, 0.08);
  -moz-box-shadow:    inset 14px 14px 30px 7px rgba(50, 50, 50, 0.08);
  box-shadow:         inset 14px 14px 30px 7px rgba(50, 50, 50, 0.08);
*/
}

/**.block:after, .block:before {
  left: 98%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}*/

.block:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
  border-width: 49px;
  margin-top: -49px;
}
.block:before {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #0088C1;
  border-left-style: dashed;
  border-width: 50px;
  margin-top: -50px;
}

.block img{
  width: 20%;
  height: 50%;
  position: absolute;
  margin: 0px 5px;
  left: 0;
}

.block img.icon{
  left: 0;
}

.block img.duration{
  right: 0;
}

/*Decorating color and shape*/
.event{
  border-right: 1px solid #E74c3c;
  border-color: #E74c3c;
}

.condition{
  border-left: 1px solid #F26D22;
  border-right: 1px solid #F26D22;
  border-color: #F26D22;
}

.action{
  border-left: 1px solid #F2A71D;
  border-color: #F2A71D;
}



/*Keyframes*/

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	70% { -webkit-transform: scale(0.95); }
	100% { -webkit-transform: scale(1); }
}

