<ul id="picker">
  <li id="{{deviceType | lowercase}}" data-dragfct="setCurDeviceType" data-devicetype="deviceType" draggable="true" data-ng-repeat="deviceType in appCtrl.deviceTypes" data-drag-device></li>
  <li id="unknown" draggable="true" data-dragfct="setCurDeviceType" data-devicetype="" data-drag-device></li>
</ul>
<div class="col-md-12 block-wrapper">
  <div class="col-md-4">
    <div class="block-container event">
      <p>When this happens:</p>
      <div class="block droppable event" data-dropfct="openModal" data-type="0" data-ng-show="!appCtrl.curScenario.event" data-drop-device><p class="center">Drag an electrical appliance here!</p></div>
      <div class="block instantiated event" data-ng-show="appCtrl.curScenario.event" ng-click="appCtrl.openBlock(appCtrl.curScenario.event, 0)">
	<img class="center icon" data-ng-src="images/{{appCtrl.curScenario.event.deviceType | lowercase}}.svg"/>
	<p>{{(appCtrl.curScenario.event.Device.location) || "---"}}</p>
	<p>{{(appCtrl.curScenario.event.Device.desc) || "---"}}</p>
	<p>{{(appCtrl.curScenario.event.Service.desc) || "---"}} {{appCtrl.curScenario.event.operator}}  {{appCtrl.curScenario.event.value | unit: appCtrl.curScenario.event.Service.parameter.unit}}</p>
	<img data-ng-show="appCtrl.curScenario.event.Duration" class="center duration" data-ng-src="images/d{{appCtrl.curScenario.event.Duration}}_test.svg"/>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="block-container condition">
      <p>But only when:</p>
      <div class="block droppable condition" data-dropfct="openModal" data-type="1" data-drop-device><p class="center">Drag an electrical appliance here!</p></div>
      <div data-ng-repeat="block in appCtrl.curScenario.conditions" ng-click="appCtrl.openBlock(block, 1)"  class="block instantiated condition">
	<img class="center icon" data-ng-src="images/{{block.deviceType | lowercase}}.svg"/>
	<p>{{(block.Device.location) || "---"}}</p>
	<p>{{(block.Device.desc) || "---"}}</p>
	<p>{{(block.Service.desc) || "---"}} {{block.operator}}  {{block.value | unit: block.Service.parameter.unit}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="block-container action">
      <p>Then do this:</p>
      <div class="block droppable action" data-dropfct="openModal" data-type="2" data-drop-device><p class="center">Drag an electrical appliance here!</p></div>
      <div data-ng-repeat="block in appCtrl.curScenario.actions" ng-click="appCtrl.openBlock(block, 2)"  class="block instantiated action">
	<img class="center icon" data-ng-src="images/{{block.deviceType | lowercase}}.svg"/>
	<p>{{(block.Device.location) || "---"}}</p>
	<p>{{(block.Device.desc) || "---"}}</p>
	<p><small>Set</small> {{(block.Service.desc) || "---"}} <small>to</small> {{block.value | unit: block.Service.parameter.unit}}</p>
      </div>
    </div>
  </div>
</div>
