<div class="modal-header">
  <h3 class="modal-title">LOAD</h3>
</div>
<div class="modal-body">
  <accordion close-others="oneAtATime">
  <accordion-group heading="Scenarios">
  <div class="load-element" data-ng-show="!modalLoadCtrl.model.scenarios">
    No Scenario
  </div>
  <div class="load-element" data-ng-repeat="scenario in modalLoadCtrl.model.scenarios" data-ng-click="modalLoadCtrl.onClick(scenario)">
    {{scenario.name}}
  </div>
  </accordion-group>
  <accordion-group heading="Properties">
  pjpcasc
  </accordion-group>
  <accordion-group heading="Templates">
  KPOKWPOKFWEOFK
  </accordion-group>
  </accordion>
</div>
