<ul id="picker">
  <li id="{{deviceType | lowercase}}" data-dragfct="setCurDeviceType" data-devicetype="deviceType" draggable="true" data-ng-repeat="deviceType in appCtrl.deviceTypes" data-drag-device></li>
  <li id="unknown" draggable="true" data-dragfct="setCurDeviceType" data-devicetype="" data-drag-device></li>
</ul>
<div class="col-md-12 block-wrapper prop-wrapper">
  <div class="col-md-6">
    <div class="block-container condition">
      <p>If the house is in this state:</p>
      <div class="block droppable condition" data-dropfct="openModal" data-type="1" data-drop-device data-ng-show="appCtrl.curScenario.conditions.length == 0"><p class="center">Drop a device here!</p></div>
      <div ng-click="appCtrl.openBlock(appCtrl.curScenario.conditions[0], 1)"  class="block instantiated condition" data-ng-show="appCtrl.curScenario.conditions.length != 0">
	<img class="center icon" data-ng-src="images/{{appCtrl.curScenario.conditions[0].deviceType | lowercase}}.svg"/>
	<p>{{(appCtrl.curScenario.conditions[0].Device.location) || "---"}}</p>
	<p>{{(appCtrl.curScenario.conditions[0].Device.desc) || "---"}}</p>
	<p>{{(appCtrl.curScenario.conditions[0].Service.desc) || "---"}} {{appCtrl.curScenario.conditions[0].operator}}  {{appCtrl.curScenario.conditions[0].value | unit: appCtrl.curScenario.conditions[0].Service.parameter.unit}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block-container action">
      <p>Then the house should never perform this action:</p>
      <div class="block droppable action" data-dropfct="openModal" data-type="3" data-ng-show="!appCtrl.curScenario.actions[0]" data-drop-device><p class="center">Drop a device here!</p></div>
      <div ng-click="appCtrl.openBlock(appCtrl.curScenario.actions[0], 3)"  class="block instantiated action" data-ng-show="appCtrl.curScenario.actions[0]">
	<img class="center icon" data-ng-src="images/{{appCtrl.curScenario.actions[0].deviceType | lowercase}}.svg"/>
	<p>{{(appCtrl.curScenario.actions[0].Device.location) || "---"}}</p>
	<p>{{(appCtrl.curScenario.actions[0].Device.desc) || "---"}}</p>
	<p><small>Set</small> {{(appCtrl.curScenario.actions[0].Service.desc) || "---"}} <small>to</small> {{appCtrl.curScenario.actions[0].operator}}{{appCtrl.curScenario.actions[0].value | unit: appCtrl.curScenario.actions[0].Service.parameter.unit}}</p>
      </div>
    </div>
  </div>
</div>
